@import './variables';
.hamburger {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    margin: 16px;
    display: inline-block;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 3;
    transform: translateX(0);
    transition: .3s transform ease-in-out;

    // @media (min-width: $tablet) {
    //     display: none;
    // }

    &:focus {
        outline: none;
    }

    .hamburger__box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative;
    }

    @mixin line {
        width: 100%;
        height: 4px;
        position: absolute;
        background-color: #fff;
    }

    &__inner {
        @include line;
        left: 0;
        top: 50%;
        transition: .3s background-color ease-in-out;

        &:after{
            content: '';
            @include line;
            left: 0;
            top: 10px;
            transition: .3s transform ease-in-out;
        }

        &:before{
            content: '';
            @include line;
            left: 0;
            top: -10px;
            transition: .3s transform ease-in-out;
        }
    }
}

.hamburger_active .hamburger__inner{
    background-color: transparent;
}

.hamburger_active .hamburger__inner:after{
    transform: translateY(-10px) rotate(-45deg);
}

.hamburger_active .hamburger__inner:before{
    transform: translateY(10px) rotate(45deg);
}

.hamburger_active {
    transform: translateX(210px);
}